<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">
	<select id="selectBoardList" parameterType="int" resultType="board">
		select * from (select ceil(rownum / 15) as pageNo, b.* from board_view b) 
		where pageNo = #{pageNo}
	</select>
	
	<select id="selectBoard" parameterType="int" resultType="board">
		select * from board_view where bno = #{bno}
	</select>
	
	<select id="selectBoardCount" resultType="int">
		select count(*) from board_view
	</select>
	
	<insert id="insertBoard" parameterType="board">
		insert into board(bno, title, writer, content, bcount) 
		values(board_bno.nextval,#{title},#{writer},#{content},0)
	</insert>
	
	<update id="updateBoard" parameterType="board">
		update board set title=#{title} ,content=#{content} where bno = #{bno}
	</update>
	
	<insert id="insertBoardLike" parameterType="map">
		insert into board_like values(#{bno},#{id})
	</insert>
	<delete id="deleteBoardLike" parameterType="map">
		delete from board_like where bno = #{bno} and id = #{id}
	</delete>
	<insert id="insertBoardHate" parameterType="map">
		insert into board_hate values(#{bno},#{id})
	</insert>
	<delete id="deleteBoardHate" parameterType="map">
		delete from board_hate where bno = #{bno} and id = #{id}
	</delete>
	<update id="addCountBoard" parameterType="int">
		update board set bcount = bcount + 1 where bno = #{bno}
	</update>
	<insert id="insertBoardComment" parameterType="dto.BoardCommentDTO">
		insert into board_comment(cno,contetnt,bno,writer) 
		values(board_comment_cno.nextval,#{comment},#{bno},#{writer})
	</insert>
	<insert id="insertBoardCommentLike" parameterType="map">
		insert into board_comment_like values(#{cno},#{id})
	</insert>
	<delete id="deleteBoardCommentLike" parameterType="map">
		delete from board_comment_like where cno = #{cno} and id = #{id}
	</delete>
	<insert id="insertBoardCommentHate" parameterType="map">
		insert into board_comment_hate values(#{cno},#{id})
	</insert>
	<delete id="deleteBoardCommentHate" parameterType="map">
		delete from board_comment_hate where cno = #{cno} and id = #{id}
	</delete>
</mapper>